# Git
.git
.gitignore
.github

# Python cache
**/__pycache__
**/*.pyc
**/*.pyo
*.egg-info
.eggs

# Pytest
.pytest_cache
tests/

# Dev / docs
docs/
.readthedocs.yaml

# Editor / OS
.DS_Store
*.swp
*.swo

# Build artifacts
dist/
build/
